# Conditional Probability Activity & Exercise

Below is some code to create some fake data on how much stuff people purchase given their age range.

It generates 100,000 random "people" and randomly assigns them as being in their 20's, 30's, 40's, 50's, 60's, or 70's.

It then assigns a lower probability for young people to buy stuff.

In the end, we have two Python dictionaries:

"totals" contains the total number of people in each age group.
"purchases" contains the total number of things purchased by people in each age group.
The grand total of purchases is in totalPurchases, and we know the total number of people is 100,000.

Let's run it and have a look:

In [1]:
from numpy import random
random.seed(0) # this code gives consistency results everytime we run this code. This wont make the results radom but always the same.  

totals = {20:0, 30:0, 40:0, 50:0, 60:0, 70:0}
purchases = {20:0, 30:0, 40:0, 50:0, 60:0, 70:0}
totalPurchases = 0
for _ in range(100000):
    ageDecade = random.choice([20, 30, 40, 50, 60, 70])
    purchaseProbability = float(ageDecade) / 100.0
    totals[ageDecade] += 1
    if (random.random() < purchaseProbability):
        totalPurchases += 1
        purchases[ageDecade] += 1

In [2]:
totals

{20: 16576, 30: 16619, 40: 16632, 50: 16805, 60: 16664, 70: 16704}

In [3]:
purchases

{20: 3392, 30: 4974, 40: 6670, 50: 8319, 60: 9944, 70: 11713}

In [4]:
totalPurchases

45012

Let's play with conditional probability.

First let's compute P(E|F), where E is "purchase" and F is "you're in your 30's". The probability of someone in their 30's buying something is just the percentage of how many 30-year-olds bought something:

In [5]:
PEF = float(purchases[30]) / float(totals[30])
print('P(purchase | 30s): ' + str(PEF))

P(purchase | 30s): 0.299295986521

P(F) is just the probability of being 30 in this data set:

In [6]:
PF = float(totals[30]) / 100000.0
print("P(30's): " +  str(PF))

P(30's): 0.16619

And P(E) is the overall probability of buying something, regardless of your age:

In [7]:
PE = float(totalPurchases) / 100000.0
print("P(Purchase):" + str(PE))

P(Purchase):0.45012

If E and F were independent, then we would expect P(E | F) to be about the same as P(E). But they're not; P(E) is 0.45, and P(E|F) is 0.3. So, that tells us that E and F are dependent (which we know they are in this example.)

P(E,F) is different from P(E|F). P(E,F) would be the probability of both being in your 30's and buying something, out of the total population - not just the population of people in their 30's:

In [8]:
print("P(30's, Purchase)" + str(float(purchases[30]) / 100000.0))

P(30's, Purchase)0.04974

Let's also compute the product of P(E) and P(F), P(E)P(F):

In [9]:
print("P(30's)P(Purchase)" + str(PE * PF))

P(30's)P(Purchase)0.0748054428

Something you may learn in stats is that P(E,F) = P(E)P(F), but this assumes E and F are independent. We've found here that P(E,F) is about 0.05, while P(E)P(F) is about 0.075. So when E and F are dependent - and we have a conditional probability going on - we can't just say that P(E,F) = P(E)P(F).

We can also check that P(E|F) = P(E,F)/P(F), which is the relationship we showed in the slides - and sure enough, it is:

In [10]:
print((purchases[30] / 100000.0) / PF)

0.299295986521

## Your Assignment

Modify the code above such that the purchase probability does NOT vary with age, making E and F actually independent.

Then, confirm that P(E|F) is about the same as P(E), showing that the conditional probability of purchase for a given age is not any different than the a-priori probability of purchase regardless of age.

In [11]:
from numpy import random
random.seed(0) # this code gives consistency results everytime we run this code. This wont make the results radom but always the same.  

totals = {20:0, 30:0, 40:0, 50:0, 60:0, 70:0}
purchases = {20:0, 30:0, 40:0, 50:0, 60:0, 70:0}
totalPurchases = 0
for _ in range(100000):
    ageDecade = random.choice([20, 30, 40, 50, 60, 70])
    purchaseProbability = 0.4
    totals[ageDecade] += 1
    if (random.random() < purchaseProbability):
        totalPurchases += 1
        purchases[ageDecade] += 1

In [12]:
totals

{20: 16576, 30: 16619, 40: 16632, 50: 16805, 60: 16664, 70: 16704}

In [13]:
purchases

{20: 6710, 30: 6627, 40: 6670, 50: 6665, 60: 6638, 70: 6720}

In [14]:
totalPurchases

40030

In [15]:
PEF = float(purchases[30]) / float(totals[30])
print('P(purchase | 30s): ' + str(PEF))

P(purchase | 30s): 0.398760454901

In [16]:
PE = float(totalPurchases) / 100000.0
print("P(Purchase):" + str(PE))

P(Purchase):0.4003

## New Example

In [50]:
import pandas as pd
import numpy as np
#Load the data set and repalce the empty rows for NaN valeu
data = pd.read_csv('C:\\Users\\Diego Alves\\Desktop\\Data_sets\\student-mat.csv',header=0,encoding = 'unicode_escape')

In [98]:
data1 = data[['age', 'absences']]
data1.sort_values(['age', 'absences']).set_index(['age', 'absences'])
i

Empty DataFrame
Columns: []
Index: [(15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 0), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 2), (15, 4), (15, 4), (15, 4), (15, 4), (15, 4), (15, 4), (15, 4), (15, 4), (15, 4), (15, 6), (15, 6), (15, 6), (15, 6), (15, 6), (15, 6), (15, 6), (15, 6), (15, 6), (15, 6), (15, 8), (15, 8), (15, 8), (15, 8), (15, 8), (15, 8), (15, 8), (15, 10), (15, 10), (15, 10), (15, 10), (15, 12), (15, 26), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), (16, 0), ...]

[395 rows x 0 columns]

In [84]:
AGE = data[['age']]
ABSENCES = data[['absences']]

In [52]:
from itertools import product
list(product([AGE], [ABSENCES]))

[(     age
  0     18
  1     17
  2     15
  3     15
  4     16
  5     16
  6     16
  7     17
  8     15
  9     15
  10    15
  11    15
  12    15
  13    15
  14    15
  15    16
  16    16
  17    16
  18    17
  19    16
  20    15
  21    15
  22    16
  23    16
  24    15
  25    16
  26    15
  27    15
  28    16
  29    16
  ..   ...
  365   18
  366   18
  367   17
  368   18
  369   18
  370   19
  371   18
  372   17
  373   17
  374   18
  375   18
  376   20
  377   18
  378   18
  379   17
  380   18
  381   18
  382   17
  383   19
  384   18
  385   18
  386   18
  387   19
  388   18
  389   18
  390   20
  391   17
  392   21
  393   18
  394   19

  [395 rows x 1 columns],      absences
  0           6
  1           4
  2          10
  3           2
  4           4
  5          10
  6           0
  7           6
  8           0
  9           0
  10          0
  11          4
  12          2
  13          2
  14          0
  15          4
  16          6
  17          4
  18         16
  19          4
  20          0
  21          0
  22          2
  23          0
  24          2
  25         14
  26          2
  27          4
  28          4
  29         16
  ..        ...
  365         4
  366         0
  367         0
  368         0
  369        10
  370         4
  371         3
  372         8
  373        14
  374         0
  375         2
  376         4
  377         4
  378         0
  379        17
  380         4
  381         5
  382         2
  383         0
  384        14
  385         2
  386         7
  387         0
  388         0
  389         0
  390        11
  391         3
  392         3
  393         0
  394         5

  [395 rows x 1 columns])]

In [53]:
n = 3
omega = set(product(['Pass', 'Fail'], repeat=n))

In [54]:
omega

{('Fail', 'Fail', 'Fail'),
 ('Fail', 'Fail', 'Pass'),
 ('Fail', 'Pass', 'Fail'),
 ('Fail', 'Pass', 'Pass'),
 ('Pass', 'Fail', 'Fail'),
 ('Pass', 'Fail', 'Pass'),
 ('Pass', 'Pass', 'Fail'),
 ('Pass', 'Pass', 'Pass')}

In [55]:
len(omega)

8

In [56]:
A = {om for om in omega if om[0] == 'Pass'}
B = {om for om in omega if om.count('Pass') == 2}

In [57]:
A

{('Pass', 'Fail', 'Fail'),
 ('Pass', 'Fail', 'Pass'),
 ('Pass', 'Pass', 'Fail'),
 ('Pass', 'Pass', 'Pass')}

In [58]:
B

{('Fail', 'Pass', 'Pass'), ('Pass', 'Fail', 'Pass'), ('Pass', 'Pass', 'Fail')}

In [59]:
def prob(X):
    return len(X) / len(omega)

In [60]:
def cond_prob(X, Y):
    return len(X & Y) / len(Y)

In [61]:
prob(A)

0

In [62]:
prob(B)

0

In [63]:
cond_prob(A, B)

0

In [64]:
prob(A & B)

0

In [65]:
prob(A) * prob(B)

0

In [66]:
def are_indep(X, Y):
    return prob(X & Y) == prob(X) * prob(Y)

In [67]:
are_indep(A, B)

True

In [68]:
C = {om for om in omega if om[1] == 'H'}

In [69]:
are_indep(A, C)

True

In [ ]:
import pandas as pd
import numpy as np
#Load the data set and repalce the empty rows for NaN valeu
data = pd.read_csv('C:\\Users\\Diego Alves\\Desktop\\Data_sets\\student-mat.csv',header=0,encoding = 'unicode_escape')

In [ ]:
df = data.groupby('age').agg({'Sid':'first', 
                             'Use_Case': ', '.join, 
                             'Revenue':'first' }).reset_index()