# Diego Tests Codes

In [1]:
import pandas as pd
mall = pd.read_excel('C:\\Users\\Diego Alves\\Desktop\\Data_sets\\Official_Mall_Customers.xlsx', sheet_name='Master_Data_Mall_Customers')
mall.head(10) # Print the first 10 lines

   CustomerID  Gender  Age  Annual_Income  Spending Score (1-100)
0           1    Male   19             15                      39
1           2    Male   21             15                      81
2           3  Female   20             16                       6
3           4  Female   23             16                      77
4           5  Female   31             17                      40
5           6  Female   22             17                      76
6           7  Female   35             18                       6
7           8  Female   23             18                      94
8           9    Male   64             19                       3
9          10  Female   30             19                      72

# How to write "for i in ...""

In [ ]:
words = input("Enter some text in portuguese: ")
print("You entered: " + words)

In [ ]:
words = words.split(' ')

In [ ]:
for i in words:
    if len(i) >= 4: # I only want to translater words greater than 3 characters
        i = i + "%say" % (i[0])
        i = i[1:]
        print(i)
    else:
        pass

# Create a file from two datasets and add headers. Then use for "item base category" algorithm.

We'll start by loading up the Shopping Rates dataset. Using Pandas, we can very quickly load the rows of the u.data and u.item files that we care about, and merge them together so we can work with items names instead of ID's. (In a real production job, you'd stick with ID's and worry about the names at the display layer to make things more efficient. But this lets us understand what's going on better for now.)

In [ ]:
import pandas as pd

r_cols = ['product_id','user_id' , 'rating']
ratings = pd.read_csv('C:\\Users\\Diego Alves\\Desktop\\test_jupyter.csv', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
products = pd.read_csv('C:\\Users\\Diego Alves\Desktop\\test_jupyter_2.csv', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(products, ratings)

In [ ]:
ratings.head()

# Item base category. Productos from a supermarket based on the data above.

Now the amazing pivot_table function on a DataFrame will construct a user / product rating matrix. Note how NaN indicates missing data - products that specific users didn't rate.

In [ ]:
productsRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
productsRatings.head()

Let's extract a Series of users who rated "ROUND SNACK BOXES SET OF4 WOODLAND":

In [ ]:
WHITE_METAL_LANTERN_Ratings = productsRatings['WHITE METAL LANTERN']
WHITE_METAL_LANTERN_Ratings.head()

Pandas' corrwith function makes it really easy to compute the pairwise correlation of "ROUND SNACK BOXES SET OF4 WOODLAND" vector of user rating with every other product! After that, we'll drop any results that have no data, and construct a new DataFrame of products and their correlation score (similarity) to "ROUND SNACK BOXES SET OF4 WOODLAND":

In [ ]:
similarProducts = productsRatings.corrwith(WHITE_METAL_LANTERN_Ratings)
similarProducts = similarProducts.dropna()
df = pd.DataFrame(similarProducts)
df.head(10)

In [ ]:
similarMovies.sort_values(ascending=False)

In [ ]:
import numpy as np
movieStats = ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movieStats.head()

In [ ]:
popularMovies = movieStats['rating']['size'] >= 3
movieStats[popularMovies].sort_values([('rating', 'mean')], ascending=False)[:15]

In [ ]:
df = movieStats[popularMovies].join(pd.DataFrame(similarMovies, columns=['similarity']))

In [ ]:
df.head()

In [ ]:
df.sort_values(['similarity'], ascending=False)[:15]

# Improve data the Similarities
Lets start from zero with the same data