### KNN (K-Nearest-Neighbors)

KNN is a simple concept: define some distance metric between the items in your dataset, and find the K closest items. You can then use those items to predict some property of a test item, by having them somehow "vote" on it.

As an example, let's look at the MovieLens data. We'll try to guess the rating of a movie by looking at the 10 movies that are closest to it in terms of genres and popularity.

To start, we'll load up every rating in the data set into a Pandas DataFrame:

In [2]:
import pandas as pd

r_cols = ['product_id','user_id' , 'rating']
ratings = pd.read_csv('C:\\Users\\Diego Alves\\Desktop\\test_jupyter.csv', names=r_cols, usecols=range(3), encoding="ISO-8859-1")
ratings.head()

   product_id  user_id  rating
0           1      102       3
1           2      109       2
2           3      109       5
3           4      104       3
4           5      103       5

In [3]:
import numpy as np

productProperties = ratings.groupby('product_id').agg({'rating': [np.size, np.mean]})
productProperties.head()

           rating
             size mean
product_id
1               1    3
2               1    2
3               1    5
4               1    3
5               1    5

In [7]:
productNumRatings = pd.DataFrame(productProperties['rating']['size'])
productNormalizedNumRatings = productNumRatings.apply(lambda x: (x - np.min(x)) / (np.max(x) - np.min(x)))
productNormalizedNumRatings.head()

            size
product_id
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN