# Python Basics

## Whitespace Is Important

In [1]:
listOfNumbers = [1, 2, 3, 4, 5, 6, 7]

for number in listOfNumbers:
    print(number)
    if (number % 2 == 0):
        print("is even")
    else:
        print("is odd")
        
print ("All done.")

1
is odd
2
is even
3
is odd
4
is even
5
is odd
6
is even
7
is odd
All done.

## Importing Modules

In [2]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print (A)

[26.211736   18.6879344  19.90100354 32.19852148 21.04636189 27.64021982
 22.49900994 20.50078045 20.64808663 27.93400314]

## Lists

In [3]:
# How many elements are in the list:
x = [1, 2, 3, 4, 5, 6]
print(len(x))

6

In [4]:
# Select the first 3 elements:
x[:3]

[1, 2, 3]

In [5]:
# Select the last 3 elements: 
x[3:]

[4, 5, 6]

In [6]:
# Select the last 3 elements of the list:
x[-2:]

[5, 6]

In [7]:
# Append a new values to the list:
x.extend([7,8])
x

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
# This build a lis of lists:
y = [10, 11, 12] # create a new variable
listOfLists = [x, y] # add to X
listOfLists # print the results

[[1, 2, 3, 4, 5, 6, 7, 8, 9], [10, 11, 12]]

In [10]:
# Select the elemeant 1 from y, so 0=10, 1=11, 12=2
y[1]

11

In [11]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [12]:
z.sort(reverse=True)
z

[3, 2, 1]

## Tuples, they are imutables, cannot be changed:

In [13]:
#Tuples are just immutable lists. Use () instead of []
x = (1, 2, 3)
len(x)

3

In [14]:
y = (4, 5, 6)
y[2]

6

In [15]:
listOfTuples = [x, y]
listOfTuples

[(1, 2, 3), (4, 5, 6)]

In [16]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

## Dictionaries

In [17]:
# Like a map or hash table in other languages
captains = {}
captains["Enterprise"] = "Kirk"
captains["Enterprise D"] = "Picard"
captains["Deep Space Nine"] = "Sisko"
captains["Voyager"] = "Janeway"

print(captains["Voyager"])

Janeway

In [18]:
print(captains.get("Enterprise"))

Kirk

In [19]:
print(captains.get("NX-01"))

None

In [20]:
for ship in captains:
    print(ship + ": " + captains[ship])

Voyager: Janeway
Deep Space Nine: Sisko
Enterprise D: Picard
Enterprise: Kirk

## Functions

In [21]:
def SquareIt(x):
    return x * x

print(SquareIt(2))

4

In [22]:
#You can pass functions around as parameters
def DoSomething(f, x):
    return f(x)

print(DoSomething(SquareIt, 3))

9

In [23]:
#Lambda functions let you inline simple functions
print(DoSomething(lambda x: x * x * x, 3))

27

## Boolean Expressions

In [24]:
print(1 == 3)

False

In [25]:
print(True or False)

True

In [26]:
print(1 is 3)

False

In [27]:
if 1 is 3:
    print("How did that happen?")
elif 1 > 3:
    print("Yikes")
else:
    print("All is well with the world")

All is well with the world

## Looping

In [28]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [29]:
for x in range(10):
    if (x is 1):
        continue
    if (x > 5):
        break
    print(x)

0
2
3
4
5

In [30]:
x = 0
while (x < 10):
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

## Activity

Write some code that creates a list of integers, loops through each element of the list, and only prints out even numbers!

In [39]:
myList = [0, 1, 2, 5, 8, 3]
for number in myList:
    if number %2 is 1: #The % is called the modulo operator. Of course when the remainder is 0, the number is even.
        print(number)

1
5
3

## Another example with odds number and a break on 237, remember the number are not in the right sequence:

In [45]:
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544, 
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470, 
    743, 527
]

for x in numbers:
    if x % 2 == 1: #The % is called the modulo operator. Of course when the remainder is 1, the number is odd.
        print x
    if x == 237:
        break

951
651
69
319
601
485
507
725
547
615
83
165
141
501
263
617
865
575
219
105
941
47
907
375
823
597
615
953
345
399
219
237